body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e5e5e5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb923c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb923c;
}

.team-svg-bg {
  background-color: transparent;
  /* background-color: #dfdbe5; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search-field-animation {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-field-animation:focus-visible {
  width: 450px;
}

@layer components {
  .btn-primary {
    @apply bg-amber-500 text-gray-100 px-3 py-2 rounded-full;
  }
  .btn-cart {
    @apply text-amber-500 bg-gray-100 border border-amber-300 px-3 py-2 rounded-lg hover:bg-amber-500 hover:text-gray-50 transition-all duration-700;
  }
  .image-helper-hover-animation {
    @apply transition-all duration-500 hover:scale-y-105;
  }
  .small-btn-cart {
    @apply text-amber-500 bg-transparent font-bold border border-amber-500  hover:text-gray-100 hover:bg-amber-500 text-xs px-2 py-0.5 rounded-lg transition-all duration-500;
  }
  .cart-icon {
    @apply text-xs text-inherit  align-middle;
  }
  .product-card {
    @apply bg-white max-w-xl rounded-lg shadow-lg hover:shadow-xl hover:shadow-amber-300 overflow-hidden shadow-amber-200 transition-all duration-500;
  }
  .login-signup-btn {
    @apply text-amber-500 border  border-amber-500  hover:bg-amber-500 hover:text-white py-2 px-4 rounded-lg transition-all duration-500;
  }
  .header-bg {
    @apply bg-gradient-to-t from-sky-400/10 via-red-500/5 to-amber-500/10;
  }
  .search {
    @apply pl-8 pr-4 py-3  bg-gray-50 text-amber-500  rounded-l-full focus:outline-none font-semibold capitalize;
  }
  .cart-component {
    @apply bg-black/60 rounded-lg text-amber-600 transition-all duration-700 shadow-md shadow-amber-500;
  }
  .remove-from-cart-icon {
    @apply text-red-600 rounded-full hover:transition-all duration-700 hover:shadow-md hover:shadow-red-700;
  }
  .qty-select {
    @apply bg-transparent border-none outline-none text-amber-600 text-sm rounded-lg block  px-2.5 transition-all duration-1000;
  }

  /* Aunthentication buttons  styles start */
  .btn-auth-tag {
    @apply rounded-lg hover:bg-amber-600 hover:text-gray-100 px-2 py-0.5 transition-all duration-700;
  }
  .account-select {
    @apply border-none outline-none cursor-pointer space-y-2 rounded-lg drop-shadow-md bg-transparent  duration-500;
  }
  .account-options {
    @apply bg-amber-600 rounded-lg text-gray-100 cursor-pointer mx-2 my-2;
  }
  .auth-btn {
    @apply cursor-pointer border border-amber-500 px-3.5 rounded-lg mb-2 bg-amber-600 text-gray-300 hover:shadow-md hover:shadow-amber-100 transition-all duration-300;
  }
  .auth-bnts-container {
    @apply absolute bg-black/30 w-[100px] h-[100px] -right-2 top-12 p-4 rounded-lg flex-col justify-center shadow-sm shadow-amber-200  hover:shadow-md hover:shadow-amber-200;
  }
  /* Aunthentication buttons  styles end */
}
